<!-- Cynthia Pham
     1/26/18
     IT 328
     interests.html - form that posts indoor and outdoor interests
     http://cpham.greenriverdev.com/328/dating/interests
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <!-- Personal CSS -->
    <link rel="stylesheet" href="./styles/styles.css">

    <title>Interests</title>
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light border">
        <a class="navbar-brand text-secondary" href="http://cpham.greenriverdev.com/328/dating">My Dating Website</a>
    </nav>

    <div class="container border rounded box">
        <div class="row">
            <div class="col">
                <h1>Interests</h1>
            </div>
        </div>
        <hr>
        <form action="./interests" method="post">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h6><strong>In-door Interests</strong></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="tv" name="indoor_interests[]" id="tv"
                                <?php if (!empty($_POST['indoor_interests']) && in_array("tv", $_POST['indoor_interests'])) echo 'checked'; ?>>
                                <label class="form-check-label" for="tv">
                                    tv
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="puzzles" name="indoor_interests[]" id="puzzles"
                                <?php if (!empty($_POST['indoor_interests']) && in_array("puzzles", $_POST['indoor_interests'])) echo 'checked'; ?>>
                                <label class="form-check-label" for="puzzles">
                                    puzzles
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="movies" name="indoor_interests[]" id="movies"
                                <?php if (!empty($_POST['indoor_interests']) && in_array("movies", $_POST['indoor_interests'])) echo 'checked'; ?>>
                                <label class="form-check-label" for="movies">
                                    movies
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="reading" name="indoor_interests[]" id="reading"
                                <?php if (!empty($_POST['indoor_interests']) && in_array("reading", $_POST['indoor_interests'])) echo 'checked'; ?>>
                                <label class="form-check-label" for="reading">
                                    reading
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="cooking" name="indoor_interests[]" id="cooking"
                                <?php if (!empty($_POST['indoor_interests']) && in_array("cooking", $_POST['indoor_interests'])) echo 'checked'; ?>>
                                <label class="form-check-label" for="cooking">
                                    cooking
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="playing-cards" name="indoor_interests[]" id="playing-cards"
                                <?php if (!empty($_POST['indoor_interests']) && in_array("playing-cards", $_POST['indoor_interests'])) echo 'checked'; ?>>
                                <label class="form-check-label" for="playing-cards">
                                    playing cards</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="board-games" name="indoor_interests[]" id="board-games"
                                <?php if (!empty($_POST['indoor_interests']) && in_array("board-games", $_POST['indoor_interests'])) echo 'checked'; ?>>
                                <label class="form-check-label" for="board-games">
                                    board games
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="video-games" name="indoor_interests[]" id="video-games"
                                <?php if (!empty($_POST['indoor_interests']) && in_array("video-games", $_POST['indoor_interests'])) echo 'checked'; ?>>
                                <label class="form-check-label" for="video-games">
                                    video games
                                </label>
                            </div>
                        </div>
                        <check if="{{ isset(@interestErrors['outdoor']) }}">
                            <div class="p-3 mb-2 col-4 bg-danger text-white rounded">{{ @interestErrors['outdoor'] }}</div>
                        </check>
                    </div>
                 </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h6><strong>Out-door Interests</strong></h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="hiking" name="outdoor_interests[]" id="hiking"
                                <?php if (!empty($_POST['outdoor_interests']) && in_array("hiking", $_POST['outdoor_interests'])) echo 'checked'; ?>>
                                <label class="form-check-label" for="hiking">
                                    hiking
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="walking" name="outdoor_interests[]" id="walking"
                                <?php if (!empty($_POST['outdoor_interests']) && in_array("walking", $_POST['outdoor_interests'])) echo 'checked'; ?>>
                                <label class="form-check-label" for="walking">
                                    walking
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="biking" name="outdoor_interests[]" id="biking"
                                <?php if (!empty($_POST['outdoor_interests']) && in_array("biking", $_POST['outdoor_interests'])) echo 'checked'; ?>>
                                <label class="form-check-label" for="biking">
                                    biking
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="climbing" name="outdoor_interests[]" id="climbing"
                                <?php if (!empty($_POST['outdoor_interests']) && in_array("climbing", $_POST['outdoor_interests'])) echo 'checked'; ?>>
                                <label class="form-check-label" for="climbing">
                                    climbing
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="swimming" name="outdoor_interests[]" id="swimming"
                                <?php if (!empty($_POST['outdoor_interests']) && in_array("swimming", $_POST['outdoor_interests'])) echo 'checked'; ?>>
                                <label class="form-check-label" for="swimming">
                                    swimming
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="collecting" name="outdoor_interests[]" id="collecting"
                                <?php if (!empty($_POST['outdoor_interests']) && in_array("collecting", $_POST['outdoor_interests'])) echo 'checked'; ?>>
                                <label class="form-check-label" for="collecting">
                                    collecting
                                </label>
                            </div>
                        </div>
                        <check if="{{ isset(@interestErrors['outdoor']) }}">
                            <div class="p-3 mb-2 col-4 bg-danger text-white rounded">{{ @interestErrors['outdoor'] }}</div>
                        </check>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" name="interestSubmit" class="btn btn-primary float-right">Next ></button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>