<!-- Cynthia Pham
     1/26/18
     IT 328
     profile_summary.html - page that provides form summary
     http://cpham.greenriverdev.com/328/dating/summary
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <!-- Personal CSS -->
    <link rel="stylesheet" href="./styles/styles.css">

    <title>Profile Summary</title>
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light border">
        <a class="navbar-brand text-secondary" href="http://cpham.greenriverdev.com/328/dating">My Dating Website</a>
    </nav>

    <div class="container border rounded box">
        <div class="row">
            <div class="col-6">
                <div class="container">
                    <div class="col border">
                        <p>Name: {{ @SESSION['member']->getFname() }} {{ @SESSION['member']->getLname() }}</p>
                    </div>
                    <div class="col border">
                        <p>Gender: {{ @SESSION['member']->getGender() }}</p>
                    </div>
                    <div class="col border">
                        <p>Age: {{ @SESSION['member']->getAge() }}</p>
                    </div>
                    <div class="col border">
                        <p>Phone: {{ @SESSION['member']->getPhone() }}</p>
                    </div>
                    <div class="col border">
                        <p>Email: {{ @SESSION['member']->getEmail() }}</p>
                    </div>
                    <div class="col border">
                        <p>State: {{ @SESSION['member']->getState() }}</p>
                    </div>
                    <div class="col border">
                        <p>Seeking: {{ @SESSION['member']->getSeeking() }}</p>
                    </div>
                    <div class="col border">
                        <p>Interests:
                            <repeat group="{{ @SESSION['member']->getInDoorInterests() }}" value ="{{ @interest }}" >
                                {{ @interest }}
                            </repeat>
                            <repeat group="{{ @SESSION['member']->getOutDoorInterests() }}" value ="{{ @interest }}" >
                                {{ @interest }}
                            </repeat>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="container">
                    <div class="col text-center">
                        <img src="./images/stormtrooper.jpg" class="img-fluid" alt="Stormtrooper" width="320" height="320">
                    </div>
                    <div class="col">
                        <h3>Biography</h3>
                        <p class="text-center"> {{ @bio }}</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col text-center">
                <form action="#" method="post">
                    <input class="btn btn-primary btn-lg" type="submit" value="Create a Profile!">
                </form>
            </div>
        </div>
    </div>
</body>
</html>